# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

target/

# Java
*.class

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# OS generated
*.swp
*~

# Logs
*.log

# Test output
/test-output/

# Old
/bin
